@page "/notes/{PatientId:int}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using System.Text.Json
@using Models
@using Frontend.Services
@using Frontend.Locales
@using Layout

@inject CustomHttpClient CustomHttpClient
@inject IStringLocalizer<Resource> Localizer
@inject NavigationManager NavigationManager

<PageTitle>@Localizer["Notes"]</PageTitle>

<h2>@Localizer["Notes"]</h2>

@if (notes != null && notes.Any())
{
    <div class="notes mb-4">
        @foreach (var note in notes)
        {
            var noteId = $"note-{note.Id}";
            <div class="card @noteId mb-4">

                <div class="card-header">
                    @Localizer["NoteFrom"] @note.LocalDate
                </div>

                <div class="card-body">
                    @note.Note
                    <button class="btn btn-secondary" @onclick="() => DeleteNoteAsync(note.Id)"><i class="bi bi-trash"></i> @Localizer["Delete"]</button>
                </div>
            </div>
        }
    </div>
}
else if (isNotesLoading)
{
    <Loading />
}
else
{
    <div class="alert alert-info" role="alert">
        @Localizer["NoNotesFound"]
    </div>
}

@code {
    [CascadingParameter]
    private MainLayout Layout { get; set; } = default!;

    [Parameter]
    public int PatientId { get; set; }

    private List<NoteModel>? notes = null;
    private bool isNotesLoading = true;
    private string statusMessage = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        await LoadPatientNotes();
        StateHasChanged();
    }

    public async Task LoadPatientNotes()
    {
        try
        {
            isNotesLoading = true;
            var response = await CustomHttpClient.GetAsync($"notes/patientid/{PatientId}");
            if (response.IsSuccessStatusCode)
            {
                var responseContent = await response.Content.ReadAsStringAsync();
                notes = JsonSerializer.Deserialize<List<NoteModel>>(responseContent, new JsonSerializerOptions
                    {
                        PropertyNameCaseInsensitive = true
                    });

                notes ??= new List<NoteModel>();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading notes for patient: {ex.Message}");
            notes = new List<NoteModel>();
        }
        finally
        {
            isNotesLoading = false;
            StateHasChanged();
        }
    }

    private async Task DeleteNoteAsync(string noteId)
    {
        try
        {
            isNotesLoading = true;

            var response = await CustomHttpClient.DeleteAsync($"notes/{noteId}");

            if (response.IsSuccessStatusCode)
            {
                await LoadPatientNotes();
                Layout.ShowToast(Localizer["NoteDeletedSuccess"], Localizer["The note has been successfully deleted"]);
            }
            else
            {
                Layout.ShowToast(Localizer["NoteDeletedFailed"], Localizer["Failed to delete the note."]);
            }
        }
        catch (Exception ex)
        {
            Layout.ShowToast(Localizer["ErrorDeletingNote"], $"Error: {ex.Message}");
        }
        finally
        {
            isNotesLoading = false;
            StateHasChanged();
        }
    }
}
