@page "/notes/{PatientId:int}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using System.Text.Json
@using Models
@using Frontend.Services
@using Frontend.Locales

@inject CustomHttpClient CustomHttpClient
@inject IStringLocalizer<Resource> Localizer
@inject NavigationManager NavigationManager

<PageTitle>@Localizer["Notes"]</PageTitle>

<h2>@Localizer["Notes"]</h2>

@if (notes != null && notes.Any())
{
    <div class="notes mb-4">
        @foreach (var note in notes)
        {
            var noteId = $"note-{note.Id}";
            <div class="card @noteId mb-4">

                <div class="card-header">
                    @Localizer["NoteFrom"] @note.LocalDate
                </div>

                <div class="card-body">
                    @note.Note
                </div>
            </div>
        }
    </div>
}
else if (isNotesLoading)
{
    <Loading />
}
else
{
    <div class="alert alert-info" role="alert">
        @Localizer["NoNotesFound"]
    </div>
}

@code {
    [Parameter]
    public int PatientId { get; set; }

    private List<NoteModel>? notes = null;
    private bool isNotesLoading = true;

    protected override async Task OnParametersSetAsync()
    {
        await LoadPatientNotes();
    }

    public async Task LoadPatientNotes()
    {
        try
        {
            var response = await CustomHttpClient.GetAsync($"notes/patientid/{PatientId}");
            if (response.IsSuccessStatusCode)
            {
                var responseContent = await response.Content.ReadAsStringAsync();
                notes = JsonSerializer.Deserialize<List<NoteModel>>(responseContent, new JsonSerializerOptions
                    {
                        PropertyNameCaseInsensitive = true
                    });
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading notes for patient: {ex.Message}");
        }
        finally
        {
            isNotesLoading = false;
            StateHasChanged();
        }
    }
}
