@page "/patients/{PatientId:int}"

@using Frontend.Components.Partials
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using System.Text.Json
@using Frontend.Services
@using Frontend.Locales
@using Frontend.Components.Partials.Notes

@inject CustomHttpClient CustomHttpClient
@inject IStringLocalizer<Resource> Localizer
@inject NavigationManager NavigationManager

<PageTitle>@Localizer["PatientDetails"]</PageTitle>

@if (patient != null)
{
    <h1 class="text-center mb-5">@patient.FirstName @patient.LastName</h1>

    <div class="col-md-12 col-lg-4 mb-4">
        <h2>@Localizer["PatientInfos"]</h2>

        <div class="card">
            <div class="card-body">
                <p class="card-text text-center"><strong>@Localizer["BirthDate"]:</strong> @patient.DateOfBirth.ToShortDateString()</p>
                <p class="card-text text-center"><strong>@Localizer["Gender"]:</strong> @patient.Gender</p>
                <p class="card-text text-center"><strong>@Localizer["Address"]:</strong> @patient.Address</p>
                <p class="card-text text-center"><strong>@Localizer["Phone"]:</strong> @patient.PhoneNumber</p>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-8">
        <Notes PatientId="PatientId" />
        <NoteAdd PatientId="PatientId" />
    </div>

    <button class="btn btn-secondary mt-4" @onclick="GoBack">@Localizer["Back"]</button>
}
else if (isLoading)
{
    <Loading />
}
else
{
    <p>@Localizer["PatientNotFound"]</p>
}

@code {
    [Parameter]
    public int PatientId { get; set; }


    private Patient? patient = null;
    private Notes? notesComponent = null;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var response = await CustomHttpClient.GetAsync($"patients/{PatientId}");
            if (response.IsSuccessStatusCode)
            {
                var responseContent = await response.Content.ReadAsStringAsync();
                patient = JsonSerializer.Deserialize<Patient>(responseContent, new JsonSerializerOptions
                    {
                        PropertyNameCaseInsensitive = true
                    });
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading patient details: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task RefreshNotes()
    {
        if (notesComponent != null)
        {
            await notesComponent.LoadPatientNotes();
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/patients");
    }

    private class Patient
    {
        public int Id { get; set; }
        public string FirstName { get; set; } = string.Empty;
        public string LastName { get; set; } = string.Empty;
        public DateTime DateOfBirth { get; set; }
        public string Gender { get; set; } = string.Empty;
        public string Address { get; set; } = string.Empty;
        public string PhoneNumber { get; set; } = string.Empty;
    }
}
